/*Color Definitions
Yellow: #c4a006
Dark Blue: #092940
*/
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height:100vh;
}

#tab-nav{
  background-color: white;
  border-top: 2px #092940 solid;
  padding:2px;
}

.tab-text{
  color:black;
}

.tab-text:hover {
  color: #c4a006;
}

.window{
  max-width:25%;
}

#dialogBuilder{
  display:none;
}

.ui-dialog-titlebar {
  background:#c4a006;
}

.windowImg{
  height:200px;
  padding:10px;
}

.windowText{
  font-size: 17px;
}

.modalLink{
  font-size:15px;
  color:#c4a006;
}

.modalLink:hover{
  text-decoration: none;
  color:black;
}

.listLink{
  color:#c4a006;
}

.listLink:hover{
  text-decoration: none;
  color:black;
}

#list-title{
  text-align: center;
  padding:5px;
}

.listItem{
  padding-bottom:20px;
  list-style: none;
}

.listImg{
  max-width:100%;
}

#shs-site{
  color:#c4a006;
}

#shs-site:hover{
  text-decoration: none;
  color:black;
}
